<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGRD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">SGRD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="conteiner text-center">
        <div>
            <h1>Sistema de gestion para RD</h1>
        </div>
        <div class="container text-center">
            <h2>Lista de personas</h2>
            <div>
                <br />
                <div class="table-responsive-lg">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">DNI</th>
                                <th scope="col">Nombre completo</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">Pais</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Email</th>
                                <th scope="col">Fecha de Nac</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="person : ${listPersons}">
                                <td th:text="${person.dni}"></td>
                                <td th:text="${person.fullName}"></td>
                                <td th:text="${person.town}"></td>
                                <td th:text="${person.province}"></td>
                                <td th:text="${person.country}"></td>
                                <td th:text="${person.phone}"></td>
                                <td th:text="${person.email}"></td>
                                <td th:text="${person.birthdate}"></td>
                                <td>
                                    <a th:href="@{/persons/update/{id}(id=${person.idPerson})}" class="btn btn-info"><i
                                            class="fas fa-pen"></i>
                                    </a>

                                    <a th:href="@{/persons/{id}(id=${person.idPerson})}" class="btn btn-danger"><i
                                            class="fas fa-eraser"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>