<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGRD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">SGRD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="conteiner text-center">
        <div>
            <h1>Sistema de gestion para RD</h1>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/persons}">Listar personas</a>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/persons/new}">Agregar persona</a>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/rooms}">Listar habitaciones</a>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/rooms/new}">Agregar habitacion</a>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/rooms/type}">Listar tipos de habitaciones</a>
        </div>
        <div class="p2">
            <a class="h3" th:href="@{/rooms/type/new}">Definir tipos de habitaciones</a>
        </div>
    </div>
</body>

</html>