<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{template.html::header}"></div>

<body>
    <div th:insert="~{template.html::navbar}"></div>
    <div class="container-fluid text-center">
        <div class="row content">
            <div th:insert="~{template.html::sidebar_left}"></div>

            <div class="col-sm-10">
                <form th:action="@{/rooms/type/save}" th:object="${roomType}" method="post"
                    style="max-width:600px; margin: 0 auto;">
                    <div class="m-3">
                        <div class="form-group row">

                            <label class="col-form-label col-sm-6">Tipo:</label>
                            <div>
                                <select th:field="*{type}" class="form-control">
                                    <th:block
                                        th:each="types : ${T(com.sgrd.management.model.Enum.RoomTypeEnum).values()}">
                                        <option th:value="${types}" th:text="${types}">
                                        </option>
                                    </th:block>
                                </select>
                            </div>

                            <label class="col-form-label col-sm-6">Precio:</label>
                            <div>
                                <input type="text" th:field="*{price}" class="form-control">
                            </div>

                            <label class="col-form-label col-sm-6">Detalle:</label>
                            <div>
                                <input type="text" th:field="*{detail}" class="form-control">
                            </div>
                        </div>
                        <div class="text-center p">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Footer -->
    <div th:insert="~{template.html::footer}"></div>
</body>

</html>