<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{template.html::header}"></div>

<body>
    <div th:insert="~{template.html::navbar}"></div>
    <div class="container-fluid text-center">
        <div class="row content">
            <div th:insert="~{template.html::sidebar_left}"></div>

            <div class="col-sm-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Numero</th>
                            <th class="col-sm-1">Tipo</th>
                            <th class="col-sm-1">Estado</th>
                            <th class="col-sm-4">Detalle</th>
                            <th class="col-sm-1">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="room : ${listRooms}" class="text-left">
                            <td th:text="${room.nro_room}" class="col-sm-1"></td>
                            <td th:text="${room.type.type}" class="col-sm-1"></td>
                            <td th:text="${room.state}" class="col-sm-1"></td>
                            <td th:text="${room.detail}" class="col-sm-3"></td>
                            <td>
                                <a th:href="@{/rooms/update/{id}(id=${room.idRoom})}" class="btn btn-info"><i
                                        class="fas fa-pen"></i>
                                </a>

                                <a th:href="@{/rooms/delete/{id}(id=${room.idRoom})}" class="btn btn-danger"><i
                                        class="fas fa-eraser"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div th:insert="~{template.html::footer}"></div>
</body>

</html>